@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
    padding: 0;
    margin: 0;
    background-image: url('Image/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.login-box{
    border: solid 1px;
    border-color: brown;
    background-color: wheat;
    padding: 20px;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 5px solid;
    border-bottom-color: brown;
    margin-bottom: 50px;
    padding: 13px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid ;
    border-bottom-color: brown;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid ;
    border-color: brown;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.return{
    color: black;
    font-size: 20px;
}
