* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.card {
    border-style: solid;
    border-color: chocolate;
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

#shopping {
    position: absolute;
    top: 0px;
    right: 0px;
}


#shopping i {
    font-size: 20px;
}

#shopping sup {
    margin-left: 4px;
}

.images h2 {
    margin-bottom: 25px;
}

.infos h1 {
    display: none;
}
.imgs {
    cursor: pointer;
}

.infos .price {
    display: flex;
    justify-content: start;
}
.infos .price h3:last-child  {
    background-color: chocolate;
}


.infos #more-infos {
    display: flex;
    justify-content: space-between;
    color: gray;
}

#more-infos h5 {
    padding: 8px;

}
#more-infos h5:nth-child(1) {
    color:black ; 
    border-bottom: 2px solid black ; 
    padding-bottom: 6px;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    margin-top: 30px;
    width: 100%;
}

.reviews {
    color: gold;
}

h3:nth-child(2) {
    color: gray;
    text-decoration: line-through; 
}

.choose {
    cursor: pointer;
}

.quantity {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.quantity input {
    text-align: center;
    width: 40px;
}


#info-content {
    font-size: 12px;
    height: 70px;
}

.buttons {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttons input {
/*    margin: 10px;*/
margin-top: 10px;
    width: 150px;
    padding: 0px;
    font: inherit;
    border: 2px solid ;
    border-radius: 10px;
    outline: none;
    cursor: pointer;

    background-color: chocolate;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}


.buttons button:nth-child(1) i {
    margin-right: 10px;
}

.buttons button:hover {
    color: white;
    background-color: sienna;
}


.slider {
    height: 80%;
    display: flex;
    align-items: center;

}

.slider img {
    width: 350px;
    height: 350px;
    border-style: solid;
    border-color: chocolate;
    margin: auto;
}

.img-slider {
    width: 70%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: auto;
    margin-top: 15px;
}

.img-slider div {
    width: 20%;
    height: 100%;
}

.img-slider img {
    height: 100%;
}



@media ( min-width : 1025px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .card {
        flex-direction: row;
        height: 85%;
        width: 85%;
        border-radius: 15px;
    }

    .images {
        width: 50%;
        height: 100%;
    }

    .images h2 {
        display: none;
    }

    .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        height: 80%;
        width: 50%;
        font-size: 20px;
        padding-right: 70px;

    }

    .infos h1 {
        display: block;
    }

    .buttons {
        flex-direction: row;
        font-size: 15px;
    }
    .buttons button {
        padding: 8px;
    }

    .img-slider {
        width: 50%;
    }

    #shopping {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    #shopping i {
        font-size: 30px;
    }


}


@media (min-width : 670px) {
    .buttons {
        flex-direction: row;
        font-size: 15px;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    #shopping i {
        font-size: 30px;
    }

}

