@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.adduppro{
    width: 100%;
    background: none;
    border: solid 3px;
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom-color: brown;

}


.abtn{
    background-color: chocolate;
    border: solid 2px saddlebrown;
    border-radius:8px; 
    color: white; 
    text-decoration: none;
    padding: 10px;
}
.abtn:hover{
    background-color: peru;
    border: solid 2px saddlebrown;
    border-radius:15px; 
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease 0s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: sienna;
}

li {
    float: left;
    /*    border: solid 0.2px;
        border-color: white;*/
}

li a {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #717171;
}
body{
    padding: 0;
    margin: 0;
    background-image: url('Image/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    background-color: burlywood;
}
.logogo{
    width: 25%;
    position: relative;
    margin-left: 37%;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Footer */
.footer {
    background-color: burlywood;
    padding: 5px 2px;
    line-height: 2rem;
}

.footer-top__box span svg {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--grey3);
}

.footer-top__box span {
    margin-right: 5px;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--grey3);
}

.footer-top__box a:link,
.footer-top__box a:visited {
    display: block;
    color: var(--grey);
    font-size: 12;
    transition: 0.6s;
}

.footer-top__box a:hover {
    color: var(--orange);
}

.footer-top__box div {
    color: var(--grey);
    font-size: 1.4rem;
}

.footer-top__box h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.slide_img{
    width: 540px;
    height: 360px;
}

.container {
    background-color: sienna;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}
.container2{
    background-color: sienna;
    margin-left: 10%;
    margin-right: 10%;
}
/* Flip card */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;

}
.flip-card img{
    border-color: saddlebrown;
    border-style: solid;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    background-color: burlywood;
    color: black;
    transform: rotateY(180deg);
}
.flip-card-back a{
    background-color: chocolate;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
    transition: all 0.3s ease 0s;
}
.flip-card-back a:hover{
    background-color: sienna;
}
/*Product */
.product{
    margin: 70px;
}

/*Grid */
.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: footer; }
.item4 { grid-area: logo; }


.grid-container {
    display: grid;
    grid-template-areas:
        'header'
        'logo'
        'main'
        'footer';
    grid-gap: 10px;
    height: 100%;
}

.grid-container > div {

}